@charset "utf-8";
/* CSS Document */

fieldset {
	margin-top:2em;
	border:none;
	
}

p > a {
	text-decoration:none;
	font-variant:small-caps;
	margin-left:1em;
}


table { 
background-color: #204080; 
}

img { 
border: none; 
}
